<%- content_for :sidebar do-%>
       <h4>Welcome!</h4>
       <p>This is the Dashboard for your account.  You'll be able to
     view past contest results, as well as create new ones.</p>
   <%- end -%>


<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
